body {
    margin: 0;
}
.header {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    padding: 5px 16px;
}
.header ul {
    display: flex;
    margin-left: auto;
    gap: 30px;
    list-style: none;
    padding-right: 30px;
}
.header a:hover{
    color: aqua;
}
.header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
.header li {
    flex: auto;
}
.header div {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.hero {
    display: flex;
    background-color: #1f2937;
    padding: 30px;
}
.hero-left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 40px 60px;
    margin-right: 0;
}
.hero-left .title-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    width: 300px;
    padding: 0 16px;
    text-align: right;
}
.hero-left .secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    width: 300px;
    padding: 0 16px;
    text-align: justify;
}
.hero .button {
    padding: 16px;
}
button {
    background-color: #3882f6;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 8px;
    color: #e5e7eb;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 28px;
}
button:hover {opacity: 0.8;} 
button:active {
    transform: translateY(2px);
}
.hero-picture {
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
    margin-left: 0;
}
.hero img {
    width: 700px;
    height: auto;
}
.information {
    display: flex;
    flex-direction: column;
}
.information-header {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.information-images {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px 0;
}
.image-one, .image-two, .image-three, .image-four {
    display: flex;
    flex-direction: column;
    width: 200px;
}
.information-images img {
    border: 3px solid #3882f6;
    border-radius: 8px;
    height: 200px;
}
.information-images p {
    font-size: 18px;
    color: #404144;
    padding-left: 4px;
}
.quote {
    background-color: #e5e7eb;
    padding: 30px 240px;
    color: #1f2937;
    display: flex;
    flex-direction: column;
}
.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 0px;
}
.quote .reference {
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
    text-align: end;
    margin-top: 0px;
    padding-bottom: 30px;
}
.call-to-action {
    background-color: #3882f6;
    margin: 30px 200px;
    border-radius: 8px;
    padding: 20px 34px;
    display: flex;
}
.call-to-action button {
    border: 2px solid #e5e7eb;
    flex-grow: 0;
}
.call-to-action .button {
    margin-left: auto;
}
.call-to-action .text {
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
}
.text .top {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}
.text .bottom {
    font-size: 18px;
    margin-top: 0;
}
footer {
    text-align: center;
    color: #f9faf8;
    background-color: #1f2937;
    margin-top: auto;
    font-size: 18px;
    padding: 20px 34px;
    
}