.header {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    padding: 10px;
}
.header ul {
    display: flex;
    margin-left: auto;
    gap: 10px;
    list-style: none;
}
.header a:hover{
    color: aqua;
}
.header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
.header li {
    flex: auto;
}
.header div {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    align-items: center;
}